h1 
  text-align: left
  margin: 3vw

h2
  @extend h1  

.threephotos
  display: flex
  justify-content: space-around
  flex-direction: row
  width: 90vw
  margin: 3vw
  figure
    width: 30%


@media (pointer: coarse) 
  body 
    background-color: red
  .threephotos
    display: block

@media only screen and (min-width: 600px)
  body
    background-color: yellow
  .threephotos
    display: block 

       
